llvmlite==0.31.0
ninja==1.9.0.post1
numba==0.48.0
numpy==1.18.1
opencv-python==4.2.0.32
Pillow==7.0.0
pkg-resources==0.0.0
protobuf==3.11.3
scipy==1.4.1
six==1.14.0
tensorboardX==2.0
torch==1.4.0
tqdm==4.43.0
